.cartlist{
    display: grid;
    width: 20%;
    height: 200px
}
.cart-item{
   display: grid;
   padding: 20px;
}

img{
    max-width: 100px;
    max-height: 200px;
}

.cart-item-button{
    display: flex;
    cursor: pointer;
}

.cart-item-descr{
    display: grid;
}