.cartlist{
    display: grid;
    width: 20%;
    height: 200px
}
.cart-item{
   display: grid;
}
.cart-item-image{
    height: auto;
    width:8%;
}
img{
    max-width: 100px;
    max-height: 200px;
}